{{- if .Values.ingress.enabled }}
{{- range $profile := .Values.profiles }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "staemme.profileName" (dict "Release" $.Release "profile" $profile) }}
  labels:
    {{- include "staemme.labels" $ | nindent 4 }}
    staemme/profile: {{ $profile.name }}
  {{- with $.Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if $.Values.ingress.className }}
  ingressClassName: {{ $.Values.ingress.className | quote }}
  {{- end }}
  {{- if $.Values.ingress.tls }}
  tls:
    {{- range $.Values.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range $.Values.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            pathType: {{ .pathType }}
            backend:
              service:
                name: {{ include "staemme.profileName" (dict "Release" $.Release "profile" $profile) }}
                port:
                  name: api
          {{- end }}
    {{- end }}
{{- end }}
{{- end }}
